.all-restaurant-page {
    background: $white-bg-color;
    padding: 15px 15px 100px 15px;

    .container-md {
        height: 100vh;
        width: auto;
        padding: 5px 0 5px 0;

        .items-showcase {
            width: auto;
            margin: 0 auto;
        }

        .row {
            margin: 10px;
            border: solid;
            border-width: thin;
            border-color: #d1d1d1;
            background-color: $white-bg-color;

            h1 {
                margin: 0;
                padding: 15px 15px 15px 25px;
                font-size: 1.4rem;
                font-size: $font-main;
                border-bottom: solid;
                border-width: thin;
                border-color: #d1d1d1;
            }

            .view-item {
                margin: 10px;
                padding: 10px;
                height: auto;
                width: 190px;
                display: inline-block;
                background-color: $primary;
                border: solid;
                border-width: thin;
                border-color: #d1d1d1;

                img {
                    display: block;
                    height: 120px;
                    width: 100%;
                    background-color: $secondary;
                }

                h2 {
                    margin-top: 10px;
                    font-size: 20px;
                    font-size: $font-main;
                    font-weight: 500;
                    color: $white-color;
                }

                p {
                    font-size: 0.9rem;
                    font-size: $font-main;
                    font-weight: 500;
                    color: $white-color;
                }
            }

            .view-items:hover {
            }
        }
    }
}
