.view-restaurant-page {
    padding: 15px 0 15px 0;
    height: 100vh;
    width: 100%;

    .container-restaurant {
        height: auto;
        max-height: 100%;
        width: 100%;

        .left-content{
            padding-bottom: 15px;
            height: auto;

            h2{
                margin: 15px 0;
                font-size: 2rem;
                font-family: $font-main;
                font-weight: bold;
            }

            .restaurant-details{
                height: auto;
                width: 100%;
                margin-bottom: 20px;
                
                ul{
                    padding: 0;
                    list-style: none;
                }
                li{
                    display: inline;
                }
                p{
                    margin-right: 10px;
                    display: inline;
                    font-size: 1rem;
                    font-family: $font-main;
                    font-weight: 600;
                }
            }

            .map-banner{
                height: 230px;
                width: 100%;
                background: $secondary;
            }
        }

        .right-content{
            padding-bottom: 15px;
            height: auto;

            .restaurant-image{
                padding: 15px 0;

                img{
                    height: 195px;
                    width: 100%;
                }
            }
            
            .restaurant-description{

                p{
                    font-size: 1rem;
                    font-family: $font-main;
                    font-weight: 600;
                }
            }

          

            .order{
                height: auto;
                width: 100%;

                .btn-order{
                    margin-bottom: 9px;
                    height: 40px;
                    width: 100%;
                    font-size: 1rem;
                    font-weight: 600;
                    font-family: $font-main;
                    text-transform: capitalize;
                    background: $secondary;
                    color: $white-color;
                }
            }
        }
    }
}
