@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

// DEFAULT TEXT COLORS
$white-color: #FFFFFF;
$black-color: #000000;
$span-color: #fe6b02;

// MAIN HEADING COLOR
$heading-color: #fe6b02 ;

// PRIMARY COLORS
$primary: #272c48 ;
$primaryVariants: #52566d;

// SECONDARY COLOR
$secondary: #fe6b02  ;
$secondaryVariant: #fe6b02;

$black-bg-color: #000000;
$white-bg-color: #FFFFFF;

// FONT STYLE
$font-main: 'Quicksand', sans-serif;